.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  min-height: 150px;
  padding: 20px;
  color: white;
}

.App-header ul {
  margin: 0;
  padding: 0;
}

.App-header ul li {
  display: inline;
  padding: 0 12px;
}

.App-header ul li a {
  color: white;
  text-decoration: none;
}

.App-header ul li a:hover, .App-header ul li a:active, .App-header ul li a:focus, .App-header ul li a.active {
  color: lightgray;
  text-decoration: underline;
}

.App-header ul li a.active {
  color: pink;
}

.App-intro {
  font-size: large;
}

.App .main {
  margin: 0 auto;
  max-width: 700px;
  padding: 24px;
  width:90%;
}

.main .home {
  font-size: 20px;
  text-align: left;
}

.people-list {
  font-size: 18px;
}

.people-list p:first-child {
  margin-top: 0;
}

.main a {
  color: #222;
  text-decoration: none;
}

.main a:hover, .main a:active, .main a:focus {
  color: darkcyan;
  text-decoration: underline;
}

.not-found {
  font-size: 36px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
div.carousel-fade{
  height: 400;
  width: 100%;
  background-image: url("http://www.joblo.com/posters/images/full/rogue_one_a_star_wars_story_ver5_xxlg.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
div.carousel-fade.second{
  height: 400;
  width: 100%;
  background-image: url("http://www.joblo.com/posters/images/full/john-wick-fposter-gallery.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}


.listStyle {
      clear: both;
}
.listItemStyle {
      width: 186px;
      border: 1px solid #ccc;

}
.posterStyle {
      width: 185px;
}

.sectionStyle {
      float: right;
      padding: 5px 5px;
      display: inline-table;

}
.movieTitleStyle {
      float: left;
      width: 100px;
      overflow: hidden;

}
.leftSectionStyle {
      width: 250px;
      float: left;
}
input.inputBoxStyle {
  font-size: 20px;
}
label {
  font-size: 16px;
}
.main a {
  font-size: 20px;
}














